.gauge {
    width: 100%;
    max-width: 250px;
    flex: 0 0 auto;
    justify-content: center;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    margin-top: 0px;
    margin-left: 25px;
}

.gauge__body {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background: #e5b5aa;
    position: relative;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    overflow: hidden;
}

.gauge__fill {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
    background: #cb6a55;
    transform-origin: center top;
    transform: rotate(0.45turn);
    transition: transform 0.4s ease-out;
}

.gauge__cover {
    width: 75%;
    height: 150%;
    background:  #181C1F;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);

    /*text*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    box-sizing: border-box;
}

.gauge2 {
    width: 100%;
    max-width: 250px;
    flex: 0 0 auto;
    justify-content: center;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    margin-top: 0px;
    margin-left: 25px;
}

.gauge__body2 {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background: #e5b5aa;
    position: relative;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    overflow: hidden;
}

.gauge__fill2 {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
    background: #cb6a55;
    transform-origin: center top;
    transform: rotate(0.45turn);
    transition: transform 0.4s ease-out;
}

.gauge__cover2 {
    width: 75%;
    height: 150%;
    background:  #181C1F;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);

    /*text*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    box-sizing: border-box;
}

@media screen and (min-width: 767px) {
    .gauge {
        width: 100%;
        flex: 0 0 auto;
        justify-content: center;
        padding-right: 25px;
        padding-left: 25px;
        padding-bottom: 25px;
        margin-top: 0px;
        margin-left: 25px;
    }
  }