@media screen and (max-width: 767px){
    .grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        
        grid-template-areas: 
              'box1'
              'box2'
              'box3'
              'box4'; 
      }
    }
    
      @media screen and (min-width: 767px) {
        .grid {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 30px;
          
          grid-template-areas: 
                'box1 box2'
                'box3 box3'
                'box4 box4'; 
        }
      }
    
      .box1{
        grid-area: box1;
        
      } 
      
      .box2{
        grid-area: box2;
    
      }
      
      .box3 {
        grid-area: box3;
    
      }
    
      
      .box4 {
        grid-area: box4;
    
      }